# AUTOTESTING CONFIGURATION FILE

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

[Project]

# The ProjectName is used to give the name to the output files.

ProjectName: BidirectionalPump_ReworkedSamples_LowVolt

Notes: FAC disabled to increase Joule losses

# The ProjectPath specifies where the framework is supposed to find
# its relevant resources. Throughout the framework the paths are relative
# to this location.

ProjectPath: ./

# Select the testing algorithm to execute.
# The following algorithms are currently supported:
# --> SPEED_TORQUE
# --> SPEED_TORQUE_RISING
# --> OPTIMAL_TR_TUNING
# --> POWER_PROFILE
# --> CURRENT_PROFILE

TestAlgo: BIDIRECTIONAL_PUMP_DOE

# The FW ELF File Path is specified in this parameter.
# The full absolute path is recommended. 
ElfPath: C:\Data\Projects\Yoda2_Bidirectional_Framework_Dev\exe\Yoda2_Bidirectional.out

#---------------------------------------------------------------------------
# Board related configuration options
#---------------------------------------------------------------------------

[Board]

# The BoardName is used to specify the board used for the test.
# The following boards are currently supported:
# --> ILLYRIA
# --> ARCADIA3
# --> WINDY
# --> WINDY_BPM
# --> WINDY_BPM_DTC
# --> WINDY_BPM_DTC_H27
# --> WEBER2

BoardName: BIDIRECTIONAL_PUMP

#---------------------------------------------------------------------------
# Instruments related configuration options
#---------------------------------------------------------------------------

[Instruments]

# Instruments used by the InstrumentEngine are defined here, as a comma
# separated list. 
# The following instruments are currently supported:
# --> DSP6000
# --> WT3000
# --> WT2030
# --> IT106A
# --> NIUSB921X
# --> NICOMPACTDAQ
# --> WT500
# --> WT1806

Instruments: WT230, TPS_POWER_SOURCE, NIUSB921X

InstrumentDriverConfigFile: ./res/instruments.cfg

#---------------------------------------------------------------------------
# Engines related configuration options
#---------------------------------------------------------------------------

[Engines]

# Engines are used to control the testbench
# The following engines are currently supported:
# --> MASTER_COMMANDER
# --> AIDA_TCPIP
# --> MANUAL_CONTROL
# --> WIN_API
# --> PYVISA

Engines: PYVISA, MASTER_COMMANDER

BoardControl: MASTER_COMMANDER

BoardAcquisition: MASTER_COMMANDER

InstrumentsControl: PYVISA

InstrumentsAcquisition: PYVISA

#---------------------------------------------------------------------------
# Output files configuration
#---------------------------------------------------------------------------

[OutputFiles]

# Set this option to True to retain the engine raw acquisition files.
# Useful for debug.

RetainEngineAcquisitions: True

# Set this option to True to write to file the test log. The file will be
# written in the chosen output directory.

LogToFile: True

# Set the debug level for the file and console logging here.
# It can be one of the following: DEBUG, INFO, WARNING, ERROR

LogLevel: DEBUG

# The Directory for the output files (report, configuration, ...) is specified
# here.

OutputDir: ./out

#---------------------------------------------------------------------------
# MASTER_COMMANDER engine specific configuration
#---------------------------------------------------------------------------

[MASTER_COMMANDER]

# The variables to read / write are specified in APFX profile files. These
# files can be created using the AIDA Profile Editor. Each engine needs its
# profile files. The BoardEngineApfx assigns the APFX file related to the 
# Board engine. This file is required only if the Board engine is enabled.

BoardEngineApfx: ./res/board_bidirectional_pump.apfx

BoardEngineTracksDef: ./res/bidirectional_variables.yaml

# This parameter specifies the acquisition rate of the engine.
# Unit measure [s]

SamplePeriod: 0.5

# Set this to True in order to create a text file at the end of the 
# acquisition. Set this to False only if you know what you are doing!

WriteToFile: True

# The acquisition file name is specified here. It is recommended to leave
# this option as is.

AcquisitionFileName: ./out/MasterCommanderAcquisition

# Specify here the COMPORT number. This has to be equal to the Windows COM 
# number minus 1. i.e. if you have COM4 you have to write here 3 (4 - 1).

SerialPort: COM19

# The serial BaudRate is specified here. This requires that the board UART
# is configured properly.

SerialBaud: 38400

# This is an internal configuration that specifies how much time the Python
# serial library has to wait for a received character on the buffer. It is
# safe to leave at 0.2.
# Unit measure [s]

SerialTimeout: 0.2

# The architecture of the MCU used is specified here.
# The following MCU architectures are currently supported:
# --> RENESAS_RX62T
# --> FREESCALE_DSC
# --> FREESCALE_KV3X

SerialArch: FREESCALE_KV3X

# MasterCommander serial buffer size. This parameter has to match the 
# corresponding value specified in the FW of the MCU.

ComBufferSize: 35

#---------------------------------------------------------------------------
# PYVISA engine specific configuration
#---------------------------------------------------------------------------

[PYVISA]

# supported tracks to read are the following:
# - torque
# - speed
# - line_voltage
# - line_current
# - line_frequency
# - motor_temperature
# 
Tracks: voltage, current, active_power, line_voltage, line_frequency, motor_temperature

AcquisitionFilePath: ./out/PyVisaAcquisition

SampleRate: 0.5

#---------------------------------------------------------------------------
# Bidirectional pump DOE test specific configuration
#---------------------------------------------------------------------------

[BidirectionalPumpDoe]

#Voltages: 104, 134, 102, 136, 100, 138, 98, 140
#Voltages: 127, 106, 132
#Voltages: 127, 102, 136
Voltages: 102

Frequencies: 60, 58, 62

OnTimeSec: 10

OffTimeSec: 5

NumberDirectStartups: 10

NumberReversedStartups: 10

EnableHeating: True

CooldownHighTemperature: 125.0

CooldownLowTemperature: 110.0

CooldownTimeout: 600

#---------------------------------------------------------------------------
# Heating Algorithm Configuration
#---------------------------------------------------------------------------

[HeatingAlgo]

# Speed value used to execute the motor heating.
# Unit measure [rpm_M]

Speed: 500

Acceleration: 0

UseDyno: False

# Target temperature for the motor.
# Unit measure [Celsius degrees]

TargetTemperature: 110.0

ActivationTemperature: 100.0

# Timeout value for the heating.
# At the end of this maximum time, if the temperature is not
# reached, the method will exit throwing a warning message.
# Unit measure [s]

Timeout: 600

UsePowerSupply: True

PowerSupplyVoltage: 130

PowerSupplyFrequency: 60