# AUTOTESTING CONFIGURATION FILE

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

[Project]

# The ProjectName is used to give the name to the output files.

ProjectName: SPM_Dish_Testing

Notes: 

# The ProjectPath specifies where the framework is supposed to find
# its relevant resources. Throughout the framework the paths are relative
# to this location.

ProjectPath: ./

# Select the testing algorithm to execute.
# The following algorithms are currently supported:
# --> SPEED_TORQUE
# --> SPEED_TORQUE_RISING
# --> OPTIMAL_TR_TUNING
# --> POWER_PROFILE
# --> CURRENT_PROFILE

TestAlgo: SPM_DISH_DOE

# The FW ELF File Path is specified in this parameter.
# The full absolute path is recommended. 
#ElfPath: C:\Data\Projects\DW01N_Yoda2_STM32G0_ZorroDev\exe\Yoda2_M0Plus_G0.out
ElfPath: C:\Data\Projects\DW01N_Yoda2_STM32G0_Release\exe\Yoda2_M0Plus_G0.out

#---------------------------------------------------------------------------
# Board related configuration options
#---------------------------------------------------------------------------

[Board]

# The BoardName is used to specify the board used for the test.
# The following boards are currently supported:
# --> ILLYRIA
# --> ARCADIA3
# --> WINDY
# --> WINDY_BPM
# --> WINDY_BPM_DTC
# --> WINDY_BPM_DTC_H27
# --> WEBER2

BoardName: SPM_DISH_DAFULT

BoardConfigFilePath: ./res/board_mapping.cfg

#---------------------------------------------------------------------------
# Instruments related configuration options
#---------------------------------------------------------------------------

[Instruments]

# Instruments used by the InstrumentEngine are defined here, as a comma
# separated list. 
# The following instruments are currently supported:
# --> DSP6000
# --> WT3000
# --> WT2030
# --> IT106A
# --> NIUSB921X
# --> NICOMPACTDAQ
# --> WT500
# --> WT1806

Instruments: WT230, TPS_POWER_SOURCE
#Instruments: TPS_POWER_SOURCE

InstrumentDriverConfigFile: ./res/instruments.cfg

#---------------------------------------------------------------------------
# Engines related configuration options
#---------------------------------------------------------------------------

[Engines]

# Engines are used to control the testbench
# The following engines are currently supported:
# --> MASTER_COMMANDER
# --> AIDA_TCPIP
# --> MANUAL_CONTROL
# --> WIN_API
# --> PYVISA

Engines: PYVISA, MASTER_COMMANDER

BoardControl: MASTER_COMMANDER

BoardAcquisition: MASTER_COMMANDER

InstrumentsControl: PYVISA

InstrumentsAcquisition: PYVISA

#---------------------------------------------------------------------------
# Output files configuration
#---------------------------------------------------------------------------

[OutputFiles]

# Set this option to True to retain the engine raw acquisition files.
# Useful for debug.

RetainEngineAcquisitions: True

# Set this option to True to write to file the test log. The file will be
# written in the chosen output directory.

LogToFile: True

# Set the debug level for the file and console logging here.
# It can be one of the following: DEBUG, INFO, WARNING, ERROR

LogLevel: INFO

# The Directory for the output files (report, configuration, ...) is specified
# here.

OutputDir: ./out

#---------------------------------------------------------------------------
# MASTER_COMMANDER engine specific configuration
#---------------------------------------------------------------------------

[MASTER_COMMANDER]

# The variables to read / write are specified in APFX profile files. These
# files can be created using the AIDA Profile Editor. Each engine needs its
# profile files. The BoardEngineApfx assigns the APFX file related to the 
# Board engine. This file is required only if the Board engine is enabled.

BoardEngineTracksDef: ./res/spm_dish_variables.yaml

# This parameter specifies the acquisition rate of the engine.
# Unit measure [s]

SamplePeriod: 0.5

# Set this to True in order to create a text file at the end of the 
# acquisition. Set this to False only if you know what you are doing!

WriteToFile: True

# The acquisition file name is specified here. It is recommended to leave
# this option as is.

AcquisitionFileName: ./out/MasterCommanderAcquisition

# Specify here the COMPORT number. This has to be equal to the Windows COM 
# number minus 1. i.e. if you have COM4 you have to write here 3 (4 - 1).

SerialPort: COM6

# The serial BaudRate is specified here. This requires that the board UART
# is configured properly.

SerialBaud: 38400

# This is an internal configuration that specifies how much time the Python
# serial library has to wait for a received character on the buffer. It is
# safe to leave at 0.2.
# Unit measure [s]

SerialTimeout: 0.2

# The architecture of the MCU used is specified here.
# The following MCU architectures are currently supported:
# --> RENESAS_RX62T
# --> FREESCALE_DSC
# --> FREESCALE_KV3X

SerialArch: FREESCALE_KV3X

# MasterCommander serial buffer size. This parameter has to match the 
# corresponding value specified in the FW of the MCU.

ComBufferSize: 35

#---------------------------------------------------------------------------
# PYVISA engine specific configuration
#---------------------------------------------------------------------------

[PYVISA]

# supported tracks to read are the following:
# - torque
# - speed
# - line_voltage
# - line_current
# - line_frequency
# - motor_temperature
# 
Tracks: line_voltage, line_frequency, voltage, current, active_power

AcquisitionFilePath: ./out/PyVisaAcquisition

SampleRate: 0.5

#---------------------------------------------------------------------------
# SPM Dish pumps DOE test - specific configuration
#---------------------------------------------------------------------------

[SpmDishDoeConfig]

#Voltages: 95, 120, 135
Voltages: 135

#Frequencies: 60, 58, 62
Frequencies: 62

OnTimeSec: 10

OffTimeSec: 5

NumberStartups: 20

enable_heating: False

heating_timeout: 600

IsAlternatingWash: False
