[DSP6000]

GPIBAddress: GPIB0::9::INSTR

# - CLOSEDLOOP
# - OPENLOOP
TorqueMode: CLOSEDLOOP

# valid choices
# 60; 600; 6000
EncoderPulseCount: 60

# valid choices
# oz.in; oz.ft; lb.in; lb.ft; g.cm; kg.cm; N.mm; N.cm; N.m
DynoTorqueUnits: N.m
ReadoutTorqueUnits: N.m

Tracks: speed, torque

[WT3000]

GPIBAddress: GPIB0::5::INSTR

# Channel mapping options

DefaultPreset: 1

ChannelMotorCurrent: 41
ChannelMotorCurrentThd: 7
ChannelMotorVoltage: 40
ChannelMotorPower: 42
ChannelLineVoltage: 30     
ChannelLineCurrent: 31 
ChannelLinePower: 32

Tracks: motor_current, motor_current_thd, motor_voltage, motor_power, line_voltage, line_current, line_power

[WT1800]

GPIBAddress: GPIB0::3::INSTR

# Channel mapping options

DefaultPreset: 1

ChannelMotorCurrent: 61
ChannelMotorCurrentThd: 9
ChannelMotorVoltage: 60
ChannelMotorPower: 62
ChannelLineVoltage: 0     
ChannelLineCurrent: 1     
ChannelLinePower: 2

Tracks: line_current, line_voltage, , line_power, motor_current, motor_voltage, motor_power

[WT2030]

GPIBAddress: GPIB0::1::INSTR

# Channel mapping options

DefaultPreset: 1

ChannelMotorCurrent: 7
ChannelMotorVoltage: 3
ChannelMotorPower: 11

Tracks: motor_current, motor_voltage, motor_power

[IT106A]

GPIBAddress: GPIB0::5::INSTR

Tracks: line_voltage, line_current, line_power

[NIUSB921X]

DevName: Dev1        

ChannelAddress: 0

ThermocoupleType: T

Tracks: motor_temperature

[WT230]

GPIBAddress: GPIB0::1::INSTR

ChannelVoltage: 0
ChannelCurrent: 4
ChannelPower: 8

Tracks: current, voltage, active_power

[TPS_POWER_SOURCE]

COMPort: COM8

DefaultVoltage: 127

DefaultFrequency: 60

Tracks: line_voltage, line_frequency

[CI_4500L_PS]

GPIBAddress: GPIB0::1::INSTR

DefaultVoltage: 120
DefaultFrequency: 60

# Choose whether the output should be automatically
# disabled and re-enabled when changing levels
EnableOutputControl: False

Tracks: line_voltage_set, line_frequency_set

[NICOMPACTDAQ]

ConnectedModulesNames: Dev2

[Dev2]

ChannelsAddresses: 0, 1, 2, 3

ChannelsThermocoupleTypes: K, K, K, K

ChannelsNames: Bridge, PFC, IGBT2, Temp_Ext