# AUTOTESTING CONFIGURATION FILE

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------

[Project]

# The ProjectName is used to give the name to the output files.

#ProjectName: WindyBPMp50_OrcaH34_Dyno_Speed_Torque__230Vac_40C_Yongchang_B3Y02
#ProjectName: WindyBPMp50_AtlasH32_Dyno_Speed_Torque__230Vac_40C
#ProjectName: WindyBPMp50_AtlasH32_Dyno_High_Speed_Torque__230Vac_40C
#ProjectName: WindyBPMp40_OrcaH24_Dyno_Low_Speed_Torque_YC_B3Y03_40C
#ProjectName: WindyBPMp40_OrcaH24_Dyno_High_Speed_Torque__230Vac_YC_B3Y03
#ProjectName: WindyBPMp40_OrcaH24_RotationalLosses__230Vac_Yongchang_Y105_ShortShaft
#ProjectName: WindyBPMp50_OrcaH34_RotationalLosses__230Vac_Yongchang_Y108
#ProjectName: WindyBPMp50_OrcaH34_Dyno_High_Speed_Torque__264Vac_Yongchang_Y108
#ProjectName: WindyBPMp40_OrcaH24__YC105__Dyno_Low_Speed_Torque__230Vac_40C
#ProjectName: WindyBPMp40_OrcaH24_RotationalLosses__230Vac_Yongchang_B3Y03
#ProjectName: WindyBPMp50_OrcaH34_Dyno_Speed_Torque__230Vac_40C_Yongchang_B3Y02
#ProjectName: WindyBPMp50_OrcaH34_Dyno_High_Speed_Torque__230Vac_40C_Yongchang_B3Y02
#ProjectName: WindyBPMp50_OrcaH34_RotationalLosses__230Vac_Yongchang_B3Y02
ProjectName: WindyBPMp50_330uF__HefeiH24_LowSpeedTorque_230Vac
#ProjectName: WindyBPMp40_HefeiH24_LowSpeedTorque_230Vac_ID12__220uF
#ProjectName: WindyBPMp50_330uF__HefeiH24_ID12__HighSpeedPower_230Vac
#ProjectName: WindyBPMp40_220uF__HefeiH24_ID12__HighSpeedPower_196Vac

# The ProjectPath specifies where the framework is supposed to find
# its relevant resources. Throughout the framework the paths are relative
# to this location.

ProjectPath: ./

# Select the testing algorithm to execute.
# The following algorithms are currently supported:
# --> SPEED_TORQUE
# --> SPEED_TORQUE_RISING
# --> OPTIMAL_TR_TUNING
# --> POWER_PROFILE
# --> CURRENT_PROFILE

#TestAlgo: SPEED_TORQUE_RISING
TestAlgo: SPEED_TORQUE

# The FW ELF File Path is specified in this parameter.
# The full absolute path is recommended. 
ElfPath: C:\Data\Python\Windy_sBpm_Floating\exe\Windy_Mcu_Nucleus_Plt_2_5_sBpm.out

Resistance_phase_0: 2.86
Resistenca_temp_0: 25
#---------------------------------------------------------------------------
# Board related configuration options
#---------------------------------------------------------------------------

[Board]

# The BoardName is used to specify the board used for the test.
# The following boards are currently supported:
# --> ILLYRIA
# --> ARCADIA3
# --> WINDY
# --> WINDY_BPM
# --> WINDY_BPM_DTC
# --> WINDY_BPM_DTC_H27
# --> WEBER2

BoardName: WINDY_BPM

BoardConfigFilePath: ./res/board_mapping.cfg

#---------------------------------------------------------------------------
# Instruments related configuration options
#---------------------------------------------------------------------------

[Instruments]

# Instruments used by the InstrumentEngine are defined here, as a comma
# separated list. 
# The following instruments are currently supported:
# --> DSP6000
# --> WT3000
# --> WT2030
# --> IT106A
# --> NIUSB921X
# --> NICOMPACTDAQ
# --> WT500
# --> WT1806

Instruments: DSP6000, WT3000, NIUSB921X

# for each instrument, set the GPIB address here

InstrumentDriverConfigFile: ./res/instruments.cfg

#---------------------------------------------------------------------------
# Engines related configuration options
#---------------------------------------------------------------------------

[Engines]

# Engines are used to control the testbench
# The following engines are currently supported:
# --> MASTER_COMMANDER
# --> AIDA_TCPIP
# --> MANUAL_CONTROL
# --> WIN_API
# --> PYVISA

Engines: PYVISA, MASTER_COMMANDER

BoardControl: MASTER_COMMANDER

BoardAcquisition: MASTER_COMMANDER

InstrumentsControl: PYVISA

InstrumentsAcquisition: PYVISA

#---------------------------------------------------------------------------
# Output files configuration
#---------------------------------------------------------------------------

[OutputFiles]

# Set this option to True to retain the engine raw acquisition files.
# Useful for debug.

RetainEngineAcquisitions: True

# Set this option to True to write to file the test log. The file will be
# written in the chosen output directory.

LogToFile: True

# Set the debug level for the file and console logging here.
# It can be one of the following: DEBUG, INFO, WARNING, ERROR

LogLevel: INFO

# The Directory for the output files (report, configuration, ...) is specified
# here.

OutputDir: ./out

#---------------------------------------------------------------------------
# MASTER_COMMANDER engine specific configuration
#---------------------------------------------------------------------------

[MASTER_COMMANDER]

# The variables to read / write are specified in APFX profile files. These
# files can be created using the AIDA Profile Editor. Each engine needs its
# profile files. The BoardEngineApfx assigns the APFX file related to the 
# Board engine. This file is required only if the Board engine is enabled.

BoardEngineTracksDef: ./res/windy_variables.yaml

# This parameter specifies the acquisition rate of the engine.
# Unit measure [s]

SamplePeriod: 0.5

# Set this to True in order to create a text file at the end of the 
# acquisition. Set this to False only if you know what you are doing!

WriteToFile: True

# The acquisition file name is specified here. It is recommended to leave
# this option as is.

AcquisitionFileName: ./out/MasterCommanderAcquisition

# Specify here the COMPORT number. This has to be equal to the Windows COM 
# number minus 1. i.e. if you have COM4 you have to write here 3 (4 - 1).

SerialPort: COM5

# The serial BaudRate is specified here. This requires that the board UART
# is configured properly.

SerialBaud: 38400

# This is an internal configuration that specifies how much time the Python
# serial library has to wait for a received character on the buffer. It is
# safe to leave at 0.2.
# Unit measure [s]

SerialTimeout: 0.5

# The architecture of the MCU used is specified here.
# The following MCU architectures are currently supported:
# --> RENESAS_RX62T
# --> FREESCALE_DSC
# --> FREESCALE_KV3X

SerialArch: FREESCALE_KV3X

# MasterCommander serial buffer size. This parameter has to match the 
# corresponding value specified in the FW of the MCU.

ComBufferSize: 35

#---------------------------------------------------------------------------
# AIDA_TCPIP engine specific configuration
#---------------------------------------------------------------------------

[AIDA_TCPIP]

# The variables to read / write are specified in APFX profile files. These
# files can be created using the AIDA Profile Editor. Each engine needs its
# profile files. The InstrumentEngineApfx assigns the APFX file related to 
# the Instrument engine. This file is required only if the Instrument engine
# is enabled.

InstrumentEngineApfx: ./res/acq_profile_instr_tb1.apfx

# The path to the Aida DLL is specified in the DllPath variable.

DllPath: ./res/TcpIpToolsInterfaceDynDLL.dll

# The IP Address of the PC which runs AIDA has to be specified here. If
# AIDA is running on the same PC which runs the Autotesting put the 
# localhost 127.0.0.1 IP address.

IpAddress: 127.0.0.1

# Port for the TCP IP communication is specified here. You can find the value
# in the server settings of AIDA.

Port: 51999

# Specify the Transmission Ratio to be used when a Board Acquisition engine
# is not used in the test

TransmissionRatio: 11.73

#---------------------------------------------------------------------------
# PYVISA engine specific configuration
#---------------------------------------------------------------------------

[PYVISA]

# supported tracks to read are the following:
# - torque
# - speed
# - line_voltage
# - line_current
# - 
Tracks: speed, torque, motor_current, motor_current_thd, motor_voltage, motor_power, line_voltage, line_current, line_power, motor_temperature

AcquisitionFilePath: ./out/PyVisaAcquisition

SampleRate: 0.5
#---------------------------------------------------------------------------
# WIN_API engine specific configuration
#---------------------------------------------------------------------------

[WIN_API]

Api: 220

# Specify here the COMPORT number. 

SerialPort: 23

MotorIndex: 0

McuAddress: 5

WideboxAddress: 7

#---------------------------------------------------------------------------
# Speed Torque Testing Configuration
#---------------------------------------------------------------------------

[SpeedTorque]

# Speed value used to perform the Torque measurements.
# You can specify one or more values.
# Multiple values have to be comma separated.
# Unit measure [rpm_M]

#Rotational Losses Profile
#Speed: 750, 2000, 4000, 6000, 8000, 10000, 12000, 14000, 16000, 18000
#sSpeed: 18000, 16000, 14000, 12000, 10000, 8000, 6000, 4000, 2000, 580

#OrcaH34 Low Speed Profile @ 12.7 T.R
#Speed: 381, 508, 635, 698, 762, 1016

#OrcaH24 Low Speed Profile @ 15.0 T.R
#Speed: 400, 450, 780, 900, 1200, 2000 

#F.L HefeiH24 Low Speed Profile @ 11.64 T.R
#       30,  40,  52,  55 rpm_D
#Speed: 349, 465, 605, 640 

 
Speed: 582

Acceleration: 465

# Minimum value of Torque to apply.
# Specify one value for each specified speed value.
# Multiple values have to be comma separated.
# Unit measure [Nm]

#TorqueMin:  0.23, 0.23, 0.23, 0.23, 0.23, 0.30, 0.45, 0.60, 0.80, 1.00
#TorqueMin:  0.23, 0.23, 0.23, 0.23, 0.23, 0.23, 0.23, 0.23, 0.23, 0.23
#TorqueMin:  0.2, 0.2, 0.2, 0.2, 0.2, 0.2
#TorqueMin:  0.1, 0.1, 0.1, 0.1, 0.1, 0.1
#TorqueMin:  0.1, 0.1, 0.1, 0.1
TorqueMin:  0.1

# Maximum value of Torque to apply.
# Specify one value for each specified speed value.
# Multiple values have to be comma separated.
# Unit measure [Nm]

#TorqueMax:  0.234, 0.234, 0.234, 0.234, 0.234, 0.304, 0.454, 0.604, 0.804, 1.004
#TorqueMax:  0.234, 0.234, 0.234, 0.234, 0.234, 0.234, 0.234, 0.234, 0.234, 0.234
#TorqueMax: 3.1, 3.2, 3.2, 3.2, 3.2
#TorqueMax:  3.0, 3.1, 3.1, 3.1, 3.1, 3.1
#OrcaH24 Low Speed Profile
#TorqueMax:  2.2, 2.3, 2.4, 2.4, 2.4, 2.0
#OrcaH34 Low Speed Profile
#TorqueMax:  2.8, 3.0, 3.1, 3.1, 3.1, 3.1
#F.L HefeiH34 Low Speed Profile
#TorqueMax:  2.5, 2.6, 2.6, 2.6

TorqueMax:  2.6

# Torque Step value to pass from the TorqueMax value to the
# TorqueMin value.
# Specify one value for each specified speed value.
# Multiple values have to be comma separated.
# Unit measure [Nm]

#TorqueStep: 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001
#TorqueStep: 0.2, 0.2, 0.2, 0.2, 0.2 

#OrcaH24 & OrcaH34 Low Speed Profile
#TorqueStep: 0.1, 0.1, 0.1, 0.1, 0.1, 0.1

#F.L HefeiH24 Low Speed Profile
#TorqueStep: 0.1, 0.1, 0.1, 0.1

TorqueStep: 0.1

# Measuring time for each measure point.
# Unit measure [s]

SteadyStateTime: 6

# Set this to True to choose to apply a custom value of Tr.
# This will override the default setting parameter value.

ApplyCustomTr: False

# Custom Tr value here. Make sure that the 
# option ApplyCustomTr is set to True.
# Unit measure [ms]

Tr: 70.0

# Set this to True to choose to apply a custom value of IqRefMax.
# This will override the default setting parameter value.

ApplyCustomIqRefMax: False

# Custom IqRefMax value here. Make sure that the 
# option ApplyCustomIqRefMax is set to True.
# Unit measure [A]

IqRefMax: 7.0

# Choose if motor heating should occur before test execution.
# See the [HeatingAlgo] section in order to configure the heating
# algorithm parameters.

EnableHeating: False

# Choose if Torque Offset Compensation algorithm will be applied before each 
# Speed Torque run. 
# See the [TorqueOffsetAlgo] section in order to configure the heating
# algorithm parameters.

EnableTorqueCompensation: False

TimeBasedTransientDetection: True

SteadyDeadTime: 3


[SpeedTorqueRising]

# Speed value used to perform the Torque measurements.
# You can specify one or more values.
# Multiple values have to be comma separated.
# Unit measure [rpm_M]

#Orca24
#Speed: 5250, 8000, 10000, 12000, 14000, 16050, 18000
#Speed: 18000, 16050, 14000, 12000, 10000, 8000, 5250
#Orca34
#Speed: 4445, 7620, 10160, 12700, 15240, 17780, 18000
#Speed: 18000, 17780, 15240, 12700, 10160, 7620, 4445
#F.L HefeiH24
#Speed: 4190, 6984, 9312, 11640, 13968, 16296, 18000
Speed: 18000, 16296, 13968, 11640, 9312, 6984, 4190

#Speed: 8000, 10000, 12000, 14000, 16050, 18000
#Speed: 16050, 18000
#Speed: 16300

SpeedThresholdLowPerc: 10, 10, 10, 10, 10, 10, 10
#SpeedThresholdLowPerc: 10, 10, 10, 10, 10, 18, 25
#SpeedThresholdLowPerc: 25, 20, 10, 10, 10, 10, 10
#SpeedThresholdLowPerc: 10, 10
#SpeedThresholdLowPerc: 10

Acceleration: 500
#Acceleration: 350

# Minimum value of Torque to apply.
# Specify one value for each specified speed value.
# Multiple values have to be comma separated.
# Unit measure [Nm]

TorqueMin: 0.20, 0.18, 0.20, 0.20, 0.20, 0.20, 0.20
#TorqueMin: 0.20, 0.225
#TorqueMin: 0.18

# Torque Step value to pass from the TorqueMax value to the
# TorqueMin value.
# Specify one value for each specified speed value.
# Multiple values have to be comma separated.
# Unit measure [Nm]

#Orca24
#264V
#TorqueStep: 0.080, 0.048, 0.033, 0.024, 0.018, 0.014, 0.010
#TorqueStep: 0.010, 0.014, 0.018, 0.024, 0.033, 0.048, 0.080
#230V
#TorqueStep: 0.080, 0.046, 0.032, 0.022, 0.014, 0.007, 0.005
#TorqueStep: 0.005, 0.007, 0.014, 0.022, 0.032, 0.046, 0.080
#170V
#TorqueStep: 0.046, 0.024, 0.013, 0.005, 0.003, 0.002, 0.001
#TorqueStep: 0.001, 0.002, 0.003, 0.005, 0.013, 0.024, 0.046

#Orca34
#264V
#TorqueStep: 0.093, 0.048, 0.033, 0.024, 0.018, 0.014, 0.010
#TorqueStep: 0.010, 0.014, 0.018, 0.024, 0.033, 0.048, 0.093
#230V
#TorqueStep: 0.093, 0.046, 0.030, 0.020, 0.014, 0.008, 0.007
#TorqueStep: 0.007, 0.008, 0.014, 0.020, 0.030, 0.046, 0.093
#170V
#TorqueStep: 0.046, 0.025, 0.015, 0.008, 0.003, 0.001, 0.001
#TorqueStep: 0.001, 0.001, 0.003, 0.008, 0.015, 0.025, 0.046

#F.L HefeiH24
#264V
#TorqueStep: 0.093, 0.062, 0.044, 0.033, 0.026, 0.022, 0.017
#TorqueStep: 0.017, 0.022, 0.026, 0.033, 0.044, 0.062, 0.093
#230V
#TorqueStep: 0.093, 0.051, 0.035, 0.027, 0.021, 0.017, 0.013
TorqueStep: 0.013, 0.017, 0.021, 0.027, 0.035, 0.051, 0.093
#196V
#TorqueStep: 0.073, 0.039, 0.027, 0.020, 0.015, 0.012, 0.008
#TorqueStep: 0.008, 0.012, 0.015, 0.020, 0.027, 0.039, 0.073

#TorqueStep: 0.025, 0.025
#TorqueStep: 0.017

# Measuring time for each measure point.
# Unit measure [s]

SteadyStateTime: 6

# Choose if motor heating should occur before test execution.
# See the [HeatingAlgo] section in order to configure the heating
# algorithm parameters.

EnableHeating: True

# Choose if Torque Offset Compensation algorithm will be applied before each 
# Speed Torque run. 
# See the [TorqueOffsetAlgo] section in order to configure the heating
# algorithm parameters.

EnableTorqueCompensation: False

TimeBasedTransientDetection: True

SteadyDeadTime: 3

#---------------------------------------------------------------------------
# Heating Algorithm Configuration
#---------------------------------------------------------------------------

[HeatingAlgo]

# Speed value used to execute the motor heating.
# Unit measure [rpm_M]

Speed: 825

Acceleration: 250

# Torque value used to heat the motor.
# Unit measure [Nm]

Torque: 1.5

# Torque Step value to pass from the initial (zero) value to the
# Torque value.
# Unit measure [Nm]

TorqueStep: 0.05

# Time to pass from one applied torque value to the next one.
# Unit measure [s]

TorqueStepTime: 2

TemperatureTrack: motor_temperature

ActivationTemperature: 40.0

# Target temperature for the motor.
# Unit measure [Celsius degrees]

TargetTemperature: 40.0

# Timeout value for the heating.
# At the end of this maximum time, if the temperature is not
# reached, the method will exit throwing a warning message.
# Unit measure [s]

Timeout: 1800

#---------------------------------------------------------------------------
# Torque Offset calculation Configuration
#---------------------------------------------------------------------------

[TorqueOffsetAlgo]

# Speed value used to measure the testbench torque offset.
# Unit measure [rpm_M]

Speed: 500

# Time to wait before starting the acquisition.
# Unit measure [s]

SteadyTime: 10

# Acquisition time.
# Unit measure [s]

AcquisitionTime: 10

#---------------------------------------------------------------------------
# De-magnetization Configuration
#---------------------------------------------------------------------------

[Demagnetization]

# Speed value used to apply the de-magnetization of the bench
# Unit measure [rpm_M]

Speed: 1000

Acceleration: 450

# Torque value applied.
# Unit measure [Nm]

Torque: 0.8

# Duration of the torque pulse.
# Unit measure [s]

PulseDuration: 3.0

#---------------------------------------------------------------------------
# Parameter Sweep Configuration
#---------------------------------------------------------------------------

[ParamSweep]

# Set to True to enable parameter sweep for the selected test algorithm.

IsEnabled: False

# Track name used as parameter for the sweep.
# This has to be a valid FW variable.

TrackName: Set_File_Params.IsdrefMax

# Minimum value for the parameter sweep.

MinValue: 2.2

# Maximum value for the parameter sweep.

MaxValue: 2.4

# Number of steps to pass from MinValue to MaxValue.
# This will be the number of the selected test algorithm runs.

Steps: 2

# If True, will apply a conversion formula to the specified MinValue
# and MaxValue before writing them to the variable.

ToBeConverted: True

# Conversion formula to apply to the specified MinValue
# and MaxValue before writing them to the variable.
# This is valid only if ToBeConverted is set to True.

ConversionFormula: x / 8.42 * 32768